In [1]:
import numpy as np 
import pandas as pd

# Dataset head

In [2]:
train = pd.read_csv('../input/sf-dst-predict-car-price/train_data.csv')
train.head()

,row_ID,vehicle_manufacturer,vehicle_model,vehicle_category,current_mileage,vehicle_year,vehicle_gearbox_type,doors_cnt,wheels,vehicle_color,vehicle_interior_color,car_vin,car_leather_interior,deal_type,final_price
0,0,TOYOTA,Aqua s,Sedan,133000,2014,Automatic,4/5,Right-hand drive,Silver,Black,NaN,0,For Sale,3650.0
1,1,MERCEDES-BENZ,C 220,Sedan,24500,2010,Manual,4/5,Left wheel,Silver,Black,NaN,0,For Sale,6800.0
2,2,HYUNDAI,Veloster,Hatchback,31000,2016,Tiptronic,2/3,Left wheel,Silver,Black,KMHTC6AE3GU293912,1,For Sale,6300.0
3,3,HYUNDAI,Santa FE,Jeep,115459,2015,Automatic,4/5,Left wheel,Blue,Black,NaN,1,For Sale,14488.0
4,4,TOYOTA,CHR,Jeep,18950,2019,Automatic,4/5,Left wheel,Black,NaN,JTNKHMBX7K1030253,1,For Sale,5000.0

# Submission

In [3]:
submission = pd.read_csv('../input/sf-dst-predict-car-price/sample_submission.csv')
submission

       row_ID  final_price
0       35000            0
1       35001            0
2       35002            0
3       35003            0
4       35004            0
...       ...          ...
10692   45692            0
10693   45693            0
10694   45694            0
10695   45695            0
10696   45696            0

[10697 rows x 2 columns]

In [4]:
submission['final_price'] = train['final_price'].median()
submission

       row_ID  final_price
0       35000       3900.0
1       35001       3900.0
2       35002       3900.0
3       35003       3900.0
4       35004       3900.0
...       ...          ...
10692   45692       3900.0
10693   45693       3900.0
10694   45694       3900.0
10695   45695       3900.0
10696   45696       3900.0

[10697 rows x 2 columns]

In [5]:
submission.to_csv('submission-median.csv', index=False)